/* app css stylesheet */

body {
  background: #f5f0d9 none repeat scroll 0 0 !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.fixed {
  left: 75% !important;
  position: fixed;
  top: 30.5% !important;
  width: 15% !important;
  z-index: 99;
}

table thead {
  background: #e8e5e5 none repeat scroll 0 0 !important;
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
  background: #f1f3ed none repeat scroll 0 0 !important;
}
